.main-header,
main,
.main-footer {
  width: 320px;
  margin: 0 auto;
}

.main-footer {
  &--index {
    display: none;
  }
}

@media (min-width: 660px) and (max-width: 959px) {
  .main-header,
  main,
  .main-footer {
    width: 660px;
    margin: 0 auto;
  }

  .main-footer {
    &--index {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  .main-header,
  main,
  .main-footer {
    width: 960px;
    margin: 0 auto;
  }
}
