.btn {
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px;
  display: block;
  cursor: pointer;

  &--post {
    border: 3px solid @red;
    color: @red;
    margin-bottom: 15px;
  }

  &--cancel {
    border: 3px solid @paleblue;
    color: @paleblue;
  }

  &--disabled {
    opacity: .1;
    cursor: default;
  }
}

//--------------------TABLET-----------------

@media @tablet {
  .btn {
    &--post {
      margin-bottom: 25px;
    }
  }
}

//--------------------DESKTOP-----------------

@media @desktop {
  .btn {
    &--post,
    &--cancel {
      width: 185px;
    }

    &--post {
      margin-bottom: 0;
    }
  }
}
