.contacts {
  min-height: 613px;
  padding-top: 15px;

  a {
    text-decoration: none;
  }
}

.contacts__wrap {
  position: relative;
}

.contacts__shape {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.contacts__text {
  &--red {
    display: block;
    font-size: 24px;
    color: @red;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  &--mail:hover {
    color: @paleblue;
    text-decoration: underline;
  }

  &--mail:active {
    opacity: 0.3;
  }
}

.contacts__bg {
  background-color: #fff;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.contacts__field {
  margin-bottom: 21px;
}

.contacts__map {
  width: 100%;


/*
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 36px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35.983px" height="35.983px" viewBox="0 0 35.983 35.983" enable-background="new 0 0 35.983 35.983" xml:space="preserve"><circle fill="#FFFFFF" cx="17.991" cy="17.991" r="17.991"/><circle fill="#D22856" cx="17.991" cy="17.991" r="7.866"/></svg>');
  }*/
}

//-----------------------TABLET-------------------

@media @tablet {
  .contacts__bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
  }

  .contacts__field {
    width: 50%;
    margin-bottom: 20px;

    &:first-child {
      padding-right: 12px;
      box-sizing: border-box;
    }

    &:last-child {
      width: 40%;
      margin-bottom: 12px;
    }
  }

  .contacts {
    background-size: 100%;
    padding-top: 48px;
  }

  .contacts__text--red {
    line-height: 30px;
  }

  .contacts__map {
    height: 380px;
  }
}

//-------------------DESKTOP----------------------

@media @desktop {
  .contacts {
    min-height: 635px;
    padding-top: 65px;
  }

  .contacts__field {
    width: 30%;
    margin-left: 20px;

    &:nth-child(1) {
      order: 1;
      padding: 0;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
      width: 30%;
    }

    &:nth-child(3) .info-text__title--contacts {
      padding-left: 35px;
      text-align: left;
    }
  }

  .contacts__bg {
    justify-content: space-between;
    max-width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    margin: auto;
  }

  .contacts__text--red {
    padding-right: 20px;
    line-height: 30px;
  }

  .contacts__map {
    min-height: 500px;
  }
}
