.contacts {
  background: url(../img/bg-map-mobile@1x.png) no-repeat center;
  min-height: 613px;

  a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
  }
}

.contacts__text {
  &--red {
    font-size: 24px;
    color: @red;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
}

.contacts__bg {
  background-color: #fff;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
