.copyright__text {
  display: inline-block;
  vertical-align: middle;
  color: @paleblue;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-right: 10px;
//  margin-bottom: 5px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
//  background: url(../img/logo-htmlacademy.svg) no-repeat center;
  font-size: 0;
  width: 27px;
  height: 35px;
}

.copyright__color {
  fill: @red;

  &:hover {
    fill: @paleblue;
  }

  &:active {
    fill: @paleblue;
    opacity: 0.3;
  }
}

//------------------TABLET----------------------

@media @tablet {
  .copyright {
    padding-top: 10px;
  }

  .copyright__text {
    margin-right: 10px;
  }
}

//------------------DESKTOP---------------------

@media @desktop {
  .copyright__text {
    font-size: 18px;
  }
}
