.info {
  background-color: @bg-gray;
}

.info__img-wrap {
  padding-top: 5px;

  picture:first-child img {
    display: block;
    margin: auto;
    width: 157px;
  }

  picture:nth-child(n+2) {
    display: none;
  }
}

.info__img:nth-child(2),
.info__img:nth-child(3) {
  display: none;
}

//-------------------TABLET--------------------------

@media @tablet {

  .info__wrap {
    width: 310px;
    padding-top: 52px;
  }

  .info__img-wrap {
    margin: 0;
    padding: 0;
    z-index: 10;

    picture:first-child {
      display: none;
    }

    picture:nth-child(3),
    picture:nth-child(3) img {
      display: block;
      width: 268px;
      margin: 0;
      padding: 0;
    }
  }
}

//---------------------------DESKTOP----------------

@media @desktop {

  .info__img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    height: 300px;
    overflow: hidden;

    picture:first-child,
    picture:nth-child(n+2),
    picture:nth-child(2) img {
      display: block;
    }

    picture:first-child img,
    picture:nth-child(2) img,
    picture:nth-child(3),
    picture:nth-child(3) img {
      width: 292px;
    }
  }

  .info__wrap {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 27px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
