.logo {
  width: 75px;
  height: 23px;
  font-size: 0;

  &:hover .logo__hover {
    fill: @red;
  }

  &:active .logo__hover {
    fill: #fff;
    opacity: 0.3;
  }
}

.logo__tablet,
.logo__desktop {
  display: none;
}

.logo-footer__desktop {
  display: none;
}

.logo-footer__mobile {
  display: block;
}

.logo-footer {
  font-size: 0;
  width: 147px;
  height: 41px;
  cursor: pointer;

  &:hover .logo-footer__hover {
    fill: @red;
  }

  &:active .logo-footer__hover {
    fill: @paleblue;
  }

  &:active {
    opacity: 0.3;
  }
}

//----------------------TABLET------------------------

@media @tablet {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: inline-block;
  }

  .logo {
    width: 147px;
    height: 41px;
  }

  .logo-footer {
    padding-top: 0;
  }
}

//----------------------DESKTOP------------------------

@media @desktop {
  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: inline-block;
  }

  .logo {
    width: 147px;
    height: 41px;
  }

  .logo-footer__mobile {
    display: none;
  }

  .logo-footer__desktop {
    display: block;
  }
}
