.logo {
  width: 75px;
  height: 23px;
  font-size: 0;

  &:hover .logo__hover {
    fill: @red;
  }

  &:active .logo__hover {
    fill: #fff;
    opacity: 0.3;
  }
}

.logo__tablet,
.logo__desktop {
  display: none;
}

//----------------------TABLET------------------------

@media @tablet {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: inline-block;
    vertical-align: middle;
  }

  .logo {
    width: 147px;
    height: 41px;
  }
}

//----------------------DESKTOP------------------------

@media @desktop {
  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: inline-block;
  }

  .logo {
    width: 147px;
    height: 41px;
  }
}
