.logo-download {
  background-color: @paleblue;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.logo-download__link {
  display: inline-block;
  vertical-align: middle;


  &--apple {
    margin-right: 32px;
    margin-top: -5px;
  }

  &--android {
    margin-right: 32px;
  }
}

.logo-download__text {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  margin: 10px 0 20px 0;
}

//-------------------------TABLET------------------

@media @tablet {
  .logo-download {
    background-color: transparent;
    padding: 0 20px;
  }

  .logo-download__text {
    font-size: 18px;
    margin-top: 25px;
  }
}

//-------------------------DESKTOP------------------

@media @desktop {
  .logo-download {
    padding: 0;
  }

  .logo-download__link {
    font-size: 18px;
  }

  .logo-download__text {
    margin-top: 45px;
  }
}
