.logo-download {
  background-color: @paleblue;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-download__link {
  &--apple {
    margin-right: 20px;
  }

  &--android {
    margin-right: 20px;
  }
}

.logo-download__text {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
}

@media @tablet {
  .logo-download {
    background-color: transparent;
    padding: 0 20px;
  }

  .logo-download__text {
    font-size: 18px;
  }
}
