.paginator {
  text-align: center;
  display: flex;
  justify-content: center;

  &--bg {
    background-color: @bg-gray;
    padding-bottom: 30px;
  }
}

.paginator__page {
  width: 6px;
  height: 6px;
  border: 3px solid #fff;
  background-color: rgba(40,54,69,0.3);
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 18px;
  margin-top: 18px;

  &:hover {
    background-color: rgba(40,54,69,0.6);
  }

  &:active {
    background-color: rgba(40,54,69,0.1);
  }

  &:nth-child(n+2) {
    margin-left: 12px;
  }

  &--active {
    border: 3px solid @paleblue;
    background-color: #fff;
    cursor: default;
  }

  &--active:hover,
  &--active:active {
    background-color: #fff;
  }

  &--bg {
    border: 3px solid @bg-gray;
  }
}

//---------------------TABLET---------------------------

@media @tablet {
  .paginator {
    &--bg {
      display: none;
    }
  }

  .paginator__page {
    margin-top: 35px;
    margin-bottom: 23px;
  }
}

//---------------------DESKTOP--------------------------

@media @desktop {
  .paginator {
    display: none;
  }
}
