.price {
  background-color: @bg-gray;
  overflow-x: auto;
  position: relative;
  padding-top: 91px;
  margin-top: 25px;
  padding-bottom: 22px;
  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.columns {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.columns__col {
  display: table-cell;
  width: 30%;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;

  &--first {
    display: none;
  }
}

.columns__title {
  display: block;
  background-color: @paleblue;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 18px;

  &--hit {
    background-image: url(../img/bg-hit.svg);
    background-repeat: no-repeat;
    position: relative;
  }

  &--hit::after {
    content: "ХИТ";
    position: absolute;
    top: 12px;
    left: 8px;
    color: #fff;
    font-size: 14px;
    transform: rotate(-45deg);
  }
}

.columns__price {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 18px;
}

.columns__cell {
  font-size: 14px;
  line-height: 30px;
  color: @paleblue;
  text-transform: uppercase;
  font-size: normal;
  padding-left: 20px;
  padding-right: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
  border-bottom: 2px solid #e5e5e5;

  &--yes {
    background: url(../img/icon-yes.svg) no-repeat;
/*    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30" height="18" viewBox="-82.357 4.875 21.698 16.09" enable-background="new -82.357 4.875 21.698 16.09" xml:space="preserve"><path fill="#3dc644" d="M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z"/></svg>');
    background-repeat: no-repeat;*/
    background-position: 93%;
  }

  &--no {
    background: url(../img/icon-no.svg) no-repeat;
/*    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26.752px" height="26.752px" viewBox="0 0 26.752 26.752" enable-background="new 0 0 26.752 26.752" xml:space="preserve"><path fill="#d22856" d="M15.497,13.376L26.312,2.562c0.586-0.585,0.586-1.535,0-2.121s-1.535-0.586-2.121,0L13.376,11.255L2.562,0.439 c-0.586-0.586-1.535-0.586-2.121,0c-0.586,0.585-0.586,1.535,0,2.121l10.814,10.815L0.439,24.19c-0.586,0.586-0.586,1.535,0,2.121 c0.293,0.293,0.677,0.439,1.061,0.439s0.768-0.146,1.061-0.439l10.815-10.814L24.19,26.312c0.293,0.293,0.677,0.439,1.061,0.439 s0.768-0.146,1.061-0.439c0.586-0.586,0.586-1.535,0-2.121L15.497,13.376z"/></svg>');
    background-repeat: no-repeat;*/
    background-position: 92%;
  }
}

//-----------------TABLET-----------------------

@media @tablet {
  .price {
    width: 100%;
    padding-bottom: 33px;
    padding-top: 50px;
    margin-top: 0;
  }

  .columns {
    max-width: 620px;
    margin: 37px auto;
  }

  .columns__title {
    font-size: 16px;
    padding-top: 10px;

    &--hit {
      background-image: url(../img/bg-hit-tablet.svg);
      background-repeat: no-repeat;
      position: relative;
    }

    &--hit::after {
      top: 3px;
      left: 5px;
    }
  }

  .columns__price {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .columns__cell {
    text-transform: none;
    padding-right: 0;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .columns__col {
    width: 25%;

    &--first {
      display: table-cell;
      border-left: none;
    }

    &--first .columns__title,
    &--first .columns__price {
      background-color: @bg-gray;
      color: @bg-gray;
    }

    &--first .columns__price {
      border-bottom: 2px solid #e5e5e5;
      padding-bottom: 8px;
    }

    &--first .columns__cell {
      border-left: 2px solid #e5e5e5;
    }

    &:nth-child(n+2) .columns__cell {
      font-size: 0;
      background-position: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//-----------------DESKTOP----------------------

@media @desktop {
  .price {
    margin-top: 40px;
    padding-bottom: 5px;
    padding-top: 75px;
  }

  .columns {
    max-width: 940px;
    margin: 72px auto;
    margin-bottom: 90px;
  }

  .columns__col {
    width: 235px;

    &--first {
      font-size: 18px;
    }

    &--first .columns__price {
      padding-bottom: 18px;
    }

    &--first .columns__cell {
      padding-left: 20px;
      font-size: 18px;
    }
  }

  .columns__cell {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .columns__title {
    padding-top: 17px;
    font-size: 18px;

    &--hit {
      background-image: url(../img/bg-hit.svg);
      background-repeat: no-repeat;
      position: relative;
    }

    &--hit::after {
      top: 10px;
      left: 10px;
    }
  }

  .columns__price {
    padding-bottom: 20px;
    font-size: 24px;
  }
}
