.price {
  background-color: @bg-gray;
  overflow-x: auto;
  position: relative;
  padding-top: 91px;
  margin-top: 25px;
  padding-bottom: 22px;
  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

//-----------------TABLET-----------------------

@media @tablet {
  .price {
    width: 100%;
    padding-bottom: 33px;
    padding-top: 50px;
    margin-top: 0;
  }
}

//-----------------DESKTOP----------------------

@media @desktop {
  .price {
    margin-top: 40px;
    padding-bottom: 5px;
    padding-top: 75px;
  }
}
