.review {
  padding: 28px 20px;
  padding-bottom: 0;
  margin-top: -72px;
  background-color: #fff;
  position: relative;
}

.review__quots {
  display: none;
}

.review__slider {
  display: none;
}

//------------------TABLET----------------

@media @tablet {

  .review {
    padding-bottom: 0;
    margin-top: 0;
  }
}

//---------------------DESKTOP-------------

@media @desktop {
  .review {
    max-width: 940px;
    margin: auto;
    padding-top: 168px;
    position: relative;
  }

  .review__quots {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-40px);
    width: 79px;
    height: 64px;
  }

  .review__slider {
    display: block;
    position: absolute;
    top: 50%;
    width: 22px;
    height: 42px;
    cursor: pointer;
    transform: translateY(23px);

    &--back {
      left: 20px;
    }

    &--forward {
      right: 20px;
    }
  }

  .review__color {
    fill: @paleblue;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
