.review {
  padding: 28px 20px;
  padding-bottom: 0;
  margin-top: -72px;
  background-color: #fff;
  position: relative;
}

.review__quots {
  display: none;
}

.review-text:nth-child(n+3) {
  display: none;
}

.review-text__title {
  display: block;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.review-text__paragraph {
  color: @paleblue;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.review-text__person {
  display: none;
}

.review__slider {
  display: none;
}

//------------------TABLET----------------

@media @tablet {
  .review-text__person {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: @paleblue;
    margin-bottom: 0;
    margin-top: 2px;
  }

  .review-text__paragraph {
    font-size: 18px;
    line-height: 30px;
  }

  .review-text {
    display: flex;
    flex-direction: column-reverse;
  }

  .review-text__title {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
  }

  .review {
    padding-bottom: 0;
    margin-top: 0;
  }
}

//---------------------DESKTOP-------------

@media @desktop {
  .review {
    max-width: 940px;
    margin: auto;
    padding-top: 168px;
    position: relative;
  }

  .review__quots {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-40px);
    width: 79px;
    height: 64px;
  }

  .review-text__title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  .review-text__person {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  .review-text {
    max-width: 700px;
    margin: auto;
  }

  .review__slider {
    display: block;
    position: absolute;
    top: 50%;
    width: 22px;
    height: 42px;
    cursor: pointer;
    transform: translateY(23px);

    &--back {
      left: 20px;
    }

    &--forward {
      right: 20px;
    }
  }

  .review__color {
    fill: @paleblue;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
