.social {
  margin-bottom: 37px;
  margin-top: 40px;
}

.social__btn {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  border: 3px solid rgba(40,54,69,0.1);
  border-radius: 50%;
  font-size: 0;

  &:hover {
    border-color: @paleblue;
  }

  &:active {
    opacity: 0.3;
    border: 3px solid rgba(40,54,69,0.1);
  }

  &--tw {
    background: url(../img/icon-twitter.svg) no-repeat center;
    margin-right: 10px;
  }

  &--fb {
    background: url(../img/icon-facebook.svg) no-repeat center;
    margin-right: 10px;
  }

  &--yt {
    background: url(../img/icon-youtube.svg) no-repeat center;
  }
}


//------------------TABLET----------------------

@media @tablet {
  .social {
    margin: 0;
    margin-right: 20px;
    padding-top: 10px;
  }

  .social__btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

//------------------DESKTOP----------------------

@media @desktop {
  .social {
    margin: 0;
//    padding-top: 5px;
  }
}
