.social {
  text-align: center;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    font-size: 0;
    margin-right: 10px;

    &--tw {
      background: url(../../img/icon-twitter.svg) no-repeat center;
    }

    &--fb {
      background: url(../../img/icon-facebook.svg) no-repeat center;
    }

    &--yt {
      background: url(../../img/icon-youtube.svg) no-repeat center;
    }
  }
}
