.timer {
  display: none;
}

//-----------------------TABLET---------------------

@media @tablet {
  .timer {
    display: block;
  }

  .timer__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timer__img svg {
    width: 240px;
    height: 275px;
  }

  .timer__img {
    position: relative;

    &::after {
      content: "24";
      position: absolute;
      top: 55px;
      left: 18px;
      padding: 35px 35px 47px 32px;
      font-size: 96px;
      line-height: 96px;
      font-weight: 700;
      color: @red;
      border: 13px solid @red;
      border-radius: 50%;
    }
  }

  .timer__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 27px;
    padding-right: 130px;
    margin-bottom: 0;
  }

  .timer__info,
  .timer__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .timer__link {
    color: @red;
  }

  .timer__text {
    width: 300px;
    padding: 10px;
  }
}

//------------------DESKTOP------------------

@media @desktop {
  .timer {
    width: 100%;
    background-color: @bg-gray;
  }

  .timer__wrap {
    padding: 50px 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    max-width: 940px;
    margin: 0 auto;
    justify-content: center;
  }

  .timer__text {
    width: 570px;
    padding: 0;
    padding-left: 10px;
    padding-top: 67px;
    margin-left: 50px;
  }

  .timer__title {
    margin-bottom: 20px;
  }

  .timer__info {
    padding-right: 75px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 25px;
    margin-bottom: 8px;
  }

  .timer__img svg {
    width: 300px;
    height: 345px;
  }

  .timer__img::after {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    top: 70px;
    left: 25px;
    font-size: 120px;
    line-height: 140px;
    padding: 37px 35px 47px 45px;
  }

  .timer__link {
    font-size: 18px;
  }
}
