.upload {
  &__text {
    font-size: 14px;
    line-height: 30px;
    color: @paleblue;
    font-weight: normal;
    padding: 20px;
    text-align: center;
  }

  &__img {
    background-color: @bg-gray;
    padding: 20px;
  }
}
