.upload__text {
  font-size: 14px;
  line-height: 30px;
  color: @paleblue;
  font-weight: normal;
  padding: 20px;
  text-align: center;
}

.upload__img {
  padding: 20px;
}

.upload__wrap {
  width: auto;
  background-color: @bg-gray;
}

@media @tablet {
  .upload__text {
    font-size: 18px;
  }

  .upload__wrap {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
